---
If:
  PathMatch: [hoolocktest/src/.*\.c]
CompileFlags:
  Add: 
    - --target=aarch64-linux-musl
    - -std=c17
    - -fvisibility=hidden
    - -nostdlibinc
    - -I../../work/rootfs/usr/include
    - -Wall
    - -Wextra
    - -Wno-unused-includes
    - -Oz
    - -fuse-ld=lld
    - -D_FILE_OFFSET_BITS=64
    - -D_TIME_BITS=64

---
If:
  PathMatch: [.*\.h]
CompileFlags:
  Add:
    - -xc-header
    - -std=c17
    - -Wall
    - -Wextra
    - -Wno-unused-function
    - -Werror=implicit-function-declaration
